/* additional styles for the Bootstrap lab */
/* note that we do not need to import reset.css here because Bootstrap already resets
the browser default styles before applying their own */

@import url(reset.css);
/*title font-family:*/
@import url(http://fonts.googleapis.com/css?family=Chewy);
@import url(http://fonts.googleapis.com/css?family=Mrs+Sheppards);
@import url(http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre);
/*body font-family:*/
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);


body {
	background-image: url(../img/pizza1.jpg);
	background-repeat: repeat;
	font-family: 'Walter Turncoat', sans-serif;
	font-size: 18px;
	padding: 10px;
	height: auto;
	height: 100%;
	margin: 0 auto -60px;

}

p {
        font-family: 'Walter Turncoat', sans-serif;
        margin-bottom: 10px;
        margin: 20px;
}
.template {
    display: none;
}

.hidden-submit {
    display: none;
}

.content-box1 {
	width: 90%;
	background-image: url(../img/ricepaper_v3.png);

	margin: 30px;
	margin-bottom: 0px;
	box-shadow: 1px 1px 2px #FFF;
	max-width: 1019px;
	height: auto;
	height: 100%;
}

.logo {
	float: left;
	margin-right: 10px;
	width: 600px;

}

.title {
	font-family: 'Mrs Sheppards', sans-serif;
	color: #14020D;
	font-size: 80px;
	margin-bottom: 10px;
}


.des {
	font-family: 'Averia Gruesa Libre', sans-serif;
	color: #14020D;
	font-size: 20px;
}

.des1 {
	font-family: 'Averia Gruesa Libre', sans-serif;
	color: #14020D;
	font-size: 30px;
	color: #14020D;	
}

.des2 {
    font-family: 'Averia Gruesa Libre', sans-serif;
    color: #14020D;
    font-size: 20px;
    color: #BD5D85;
    font-weight: bold;

    margin: 10px;
}

.header {
    font-size: 18px;
    color: #BD5D85;

}

nav {
	width: 80%;
	border-radius: 5px;
}
nav li {
	
	font-size: 30px;

}
nav a {
	
	padding: 5px;
	color: #14020D;
	text-decoration: none;
}


.float {
	float: left;
	margin-right: 10px;

}


.pic {
       
        width: 1019px;
        height: 800px;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 1em;
}

.pic2 {
	float: left;
    margin-right: 10px;
    width: 400px;
    height: 300px;

}



section p {
        text-indent: 50px;
}



@media all and (max-width: 720px){
    h1, h2, h3, h4, h5, h6, p, .des2 {
        font-size: 90%;
    }
    
    .title {
        width: 90%;
    }
}



@media all and (max-width: 640px){
     h1, h2, h3, h4, h5, h6, p, .des2 {
        font-size: 75%;
    }
    .title {
        width: 80%;
    }
}

@media all and (max-width: 640px){
  .video {
    display: none;
  }
}

@media all and (max-width: 480px){
     h1, h2, h3, h4, h5, h6, p, .des2 {
        font-size: 50%;
    }
    .title {
        width: 70%;
    }
}

@media all and (max-width: 320px){
     h1, h2, h3, h4, h5, h6, p, .des2 {
        font-size: 50%;
    }
    .title {
        width: 60%;
    }
}


.fixed {
	color: #FFF;
    font-family: 'Walter Turncoat', sans-serif;
    font-size: 20px;
	position: fixed;
	bottom: 0;
	right: 0;

}

.footer {
	height: 40px;

    border-top: 1px solid #FFF;
    width: 100%;
    opacity: 0.8;
    margin-right: auto;
    margin-left: auto;
    background-color: #C4B9B1;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.mail {

        text-decoration: none;
}


.mail:hover {
        text-decoration: underline;
}

.name {
        font-weight: bold;
}

.border {
        
        border-bottom: 2px solid;
        font-size: 40px;
        
        width: 300px;
        

}

.col2 {
        width: 80%;
        margin: 20px;
} 


.border2 {
        font-family: 'Chewy', sans-serif;
		margin-top: 40px;
        
        font-size: 25px;
       
}

.highlight {
        clear: both;
        font-size: 120%;
        font-weight: bold;
}

.head {
        clear: both;
        float: left;
        margin-right: 20px;
        width: 100px; 
}


.grey-line {
        border-width: 2px;
        border-top-style: solid;
        margin-top: 20px;
        margin-bottom: -10px;

        border-color: #DEDEDE;
}

.name-size {
    font-size: 20px;
}

.size {
    font-size: 18px;
}

.space {
    margin-bottom: 30px;
    padding: 10px;
}



.pizza {
    padding-bottom: 0.5em;
}


.total-price,
.tax,
.grand-total {
    font-weight: bold;
}

.total-row {
    border-top: 1px solid #AAA;
}

.button-row {
    margin-top: 2em;
    text-align: right;
}